.trending {
    z-index: 500;
    position: absolute;
    top: 15%;
    right: 150px;
    display: flex;
    flex-direction: column;
    max-width: 380px;

    align-items: center;

    padding: 10px;
}